<div class="row mt-2">
	<div class="offset-4 col-4">
		<input class="id" type="hidden" value="<%= task.id %>">
		<button type="button" class="delete btn btn-sm btn-danger">&#x1f5d1;</button>
		<span class="title"><%= task.title %></span>
	</div>
</div>
