		<script src="/js/popper/popper.min.js" integrity="sha384-<%= integrities.popper %>" crossorigin="anonymous"></script>
		<script src="/js/bootstrap/bootstrap.min.js" integrity="sha384-<%= integrities.bootstrapJs %>" crossorigin="anonymous"></script>
	</body>
</html>
