<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Task Button!</title>
		<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" integrity="sha384-<%= integrities.bootstrapCss %>" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/tasklist.css" integrity="sha384-<%= integrities.tasklistCss %>" crossorigin="anonymous">
		<script src="/js/jquery/jquery.min.js" integrity="sha384-<%= integrities.jquery %>" crossorigin="anonymous"></script>
	</head>
	<body>
